/**
 * WikimediaUI base v0.5.0
 * Wikimedia Foundation user interface base variables
 */

:root {
	/* Colors */
	/* Background Colors */
	--background-color-base:      #fff;
	--background-color-code:      #f9f9f9;
	/* Foreground Colors */
	--color-base:                 #555;
	--color-base-active:          #000;
	--color-base-contrast:        #fff;
	--color-base-emphasized:      var( --color-base-active );
	--color-base-disabled:        #949494;
	/* Primary Color and states */
	--color-primary:              #165c91;
	--color-primary-hover:        #18649e; /*= `filter: brightness( 109% );` */
	--color-primary-active:       #134e7b; /*= `filter: brightness( 85% );` */
	--color-primary-focus:        var( --color-primary );
	/* Secondary Color and states */
	--color-secondary:            #195a59;
	--color-secondary-hover:      #1c6665;
	--color-secondary-active:     #134645;
	--color-secondary-focus:      var( --color-secondary );
	/* Destructive Color and states */
	--color-destructive:          #ab1f1d;
	--color-destructive-hover:    #b8211f;
	--color-destructive-active:   #951b19;
	--color-destructive-focus:    var( --color-destructive );
	/* Colors RGBA including hex fallback on `#fff` for IE 6/7/8 */
	--color-highlighted:          rgba( 255, 182, 13, 0.4 );
	--color-highlighted-fallback: #ffe29e;
	/* Opacity */
	--opacity-base:               1;
	--opacity-base-disabled:      0.2;


	/* Positioning */
	/* Z-Index */
	--z-index-base:               0;


	/* Box Model properties */
	/* Max Widths */
	--max-width-button:           28.75em; /* equivalent to `460px` at `16px` base, see T95367 */
	--max-width-input-inline:     100%;
	/* Border */
	--border-base:                1px solid var( --border-color-base );
	/* Border Colors */
	--border-color-base:          #222;
	--border-color-base-hover:    var( --color-primary );
	--border-color-base-disabled: var( --color-base-disabled );
	--border-color-heading:       #ccc;
	/* Border Widths */
	--border-width-base:          1px;
	/* Border Radius */
	--border-radius-base:         2px;
	/* Box Shadows */
	--box-shadow-dialog:          0 0.15em 0 0 rgba( 0, 0, 0, 0.15 );
	--box-shadow-menu:            var( --box-shadow-dialog );


	/* Typography incl. print properties */
	/* Font Families */
	--font-family-base:           var( --font-family-sans );
	--font-family-heading-main:   var( --font-family-serif );
	--font-family-sans:           "Helvetica Neue", "Helvetica", "Nimbus Sans L", "Arial", "Liberation Sans", sans-serif;
	--font-family-serif:          "Linux Libertine", "Georgia", "Times", serif;
	/* Line Heights */
	--line-height-base:           1.6;
	--line-height-heading:        1.25;
	--text-decoration-link-hover: none;
	/* Text Shadows */
	--text-shadow-base:           0 1px 1px var( --color-base-contrast ); /* "coined" effect */
	--text-shadow-base-disabled:  var( --text-shadow-base );


	/* Other Properties */
	/* Cursors */
	--cursor-base-disabled:       default;


	/* Animation & Transition */
	/* Transitions */
	--transition-base:            var( --transition-duration-base );
	--transition-medium:          var( --transition-duration-medium );
	/* Transitions > Durations */
	--transition-duration-base:   100ms;
	--transition-duration-medium: 250ms;
}
